@import "utils/color";
@import "utils/config";
@import "utils/mixins";

@import "components/abouts";
@import "components/advantages";
@import "components/buttons";
@import "components/cards";
@import "components/contacts";
@import "components/customer-reviews";
@import "components/footer";
@import "components/gallery";
@import "components/hero-header";
@import "components/mobile-menu";
@import "components/modal";
@import "components/products";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Titan+One&display=swap");
