$main-color: rgba(255, 184, 202);
$pink: rgba(255, 165, 186);
$pink-dark: rgba(212, 20, 67);
$pink-light: rgba(255, 245, 246);
$yellow: rgba(240, 209, 165);
$green:rgba(194, 226, 151);
$gray-pink:rgb(144, 126, 130);
$green: rgba(194, 226, 151);
$white: rgba(255, 255, 255);
$lightgrey: rgba(250, 250, 250, 1);
$grey: rgb(152, 142, 142);
$lightgrey2: rgba(225, 225, 225, 1);
$black: rgba(0, 0, 0, 1);
$midgrey: rgb(225, 225, 225);
$modal-color:rgba(225, 121, 146, 1);
$hover-button:rgb(235, 234, 234);
