$main-color: rgba(255, 184, 202);
$pink: rgba(255, 165, 186);
$pink-dark: rgba(212, 20, 67);
$pink-light: rgba(255, 245, 246);
$yellow: rgba(240, 209, 165);
$green: rgba(194, 226, 151);
$gray-pink: #907e82;
$green: rgba(194, 226, 151);
$white: #ffffff;
$lightgrey: rgba(250, 250, 250, 1);
$grey: rgb(152, 142, 142);
$lightgrey2: #e1e1e1;
$black: rgba(0, 0, 0, 1);
$midgrey: #e1e1e1;
$modal-color: rgba(225, 121, 146, 1);
$hover-gray: