$main-color: rgba(255, 184, 202);
$pink: rgba(255, 165, 186);
$pink-dark: rgba(212, 20, 67);
$pink-light: rgba(255, 245, 246);
$yellow: rgba(240, 209, 165);
$green:rgba(194, 226, 151);
$white: rgba(255, 255, 255);