$main-color: rgb(255, 184, 202);
$pink: rgb(255, 165, 186);
$pink-dark: rgb(212, 20, 67);
$pink-light: rgb(255, 245, 246);
$yellow: rgb(240, 209, 165);
$green:rgb(194, 226, 151);
$white: rgb(255, 255, 255);