@use "../utils/color" as color;

* {
  font-family: "DM Sans";
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-end: 0em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

a {
  color: color.$white;
  text-decoration: none;
  &:hover {
    color: color.$pink-dark;
    cursor: pointer;
  }
}
