@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Titan+One&display=swap");
* {
  font-family: "DM Sans";
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-end: 0em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes extend {
  0% {
    transform: scaleX(1);
  }
  33% {
    transform: scaleX(2);
  }
  66% {
    transform: scaleX(1.6);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes btn-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes contact-card-hover {
  0% {
    box-shadow: 0px 3px 10px rgb(255, 245, 246);
  }
  25% {
    box-shadow: 0px 5px 15px rgb(255, 245, 246);
  }
  50% {
    box-shadow: 0px 6px 20px rgb(255, 165, 186);
  }
  75% {
    box-shadow: 0px 7px 25px rgb(255, 165, 186);
  }
  100% {
    box-shadow: 0px 8px 30px rgb(255, 165, 186);
  }
}
@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.03, 1.1);
    transform: rotate(5deg);
  }
  40% {
    transform: scale(1.3, 1.1);
    transform: rotate(-5deg);
  }
  50% {
    transform: scale(1.1, 1.1);
    transform: rotate(5deg);
  }
  75% {
    transform: scale(0.95, 1);
    transform: rotate(-5deg);
  }
}
@keyframes tasty-hover {
  0% {
    width: 360px;
    height: 280px;
  }
  12% {
    width: 365px;
    height: 275px;
  }
  25% {
    width: 370px;
    height: 290px;
  }
  35% {
    width: 375px;
    height: 295px;
  }
  50% {
    width: 380px;
    height: 300px;
  }
  63% {
    width: 375px;
    height: 295px;
  }
  75% {
    width: 370px;
    height: 290px;
  }
  86% {
    width: 365px;
    height: 285px;
  }
  100% {
    width: 360px;
    height: 280px;
  }
}
@keyframes extend {
  0% {
    transform: scaleX(1);
  }
  33% {
    transform: scaleX(2);
  }
  66% {
    transform: scaleX(1.6);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes card-hover {
  0% {
    box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.75);
  }
  25% {
    box-shadow: 4px 1px 2px 0px rgba(0, 0, 0, 0.75);
  }
  50% {
    box-shadow: 6px 2px 3px 0px rgba(0, 0, 0, 0.75);
  }
  75% {
    box-shadow: 8px 3px 4px 0px rgba(0, 0, 0, 0.75);
  }
  100% {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
@keyframes flip {
  0% {
    transform: scaleX(-0.3);
  }
  25% {
    transform: scaleX(-0.5);
  }
  50% {
    transform: scaleX(-0.7);
  }
  75% {
    transform: scaleX(-0.8);
  }
  100% {
    transform: scaleX(-1);
  }
}
.about {
  background: rgb(255, 245, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 35px;
}
.about__container-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__container-title h3 {
  margin-top: 60px;
  color: rgb(255, 165, 186);
  font-family: "Titan One", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.about__container-title h3:hover {
  animation: extend;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
.about__container-title h2 {
  color: rgb(212, 20, 67);
  font-family: "Titan One", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
}
.about__container-title h2:hover {
  animation: extend;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}
.about__container {
  display: flex;
  flex-direction: row;
  gap: 20%;
  background-image: url(".././images/background-about-section.png");
  background-size: 100% 610px;
  background-repeat: no-repeat;
  justify-content: space-evenly;
}
.about__image {
  height: 500px;
  width: 480px;
}
.about__image img {
  width: 480px;
  height: 500px;
}
.about__text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: center;
}
.about__text--1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.about__text--2 {
  color: rgb(152, 142, 142);
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 1280px) {
  .about__container {
    justify-content: center;
  }
  .about__text--1 {
    font-size: 14px;
  }
  .about__text--2 {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .about__container {
    gap: 10%;
  }
  .about__image {
    height: 80%;
    width: 80%;
  }
  .about__image img {
    height: 80%;
    width: 80%;
  }
}
@media screen and (max-width: 478px) {
  .about__container-title h2 {
    font-size: 34px;
  }
  .about__container-title h3 {
    font-size: 18px;
  }
  .about__container {
    flex-direction: column;
    align-items: center;
    background-image: none;
  }
  .about__text {
    width: 80%;
    background-image: url(".././images/background-about-section.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .about__image {
    height: 80%;
    width: 80%;
  }
  .about__image img {
    height: 80%;
    width: 80%;
  }
}
* {
  font-family: "DM Sans";
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-end: 0em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages {
  display: flex;
  justify-content: flex-start;
  gap: 115px;
  background: rgb(255, 245, 246);
  padding-left: 23px;
}
.advantages__benefitsTittle {
  display: none;
}
.advantages__container:hover .advantages__icon {
  animation-name: spin-animation;
  animation-duration: 1000ms;
  animation-timing-function: linear;
}
.advantages__container {
  position: relative;
}
.advantages__container h2 {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
}
.advantages__container p {
  width: 100%;
  margin-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.02em;
}
.advantages__icon {
  fill: rgb(255, 165, 186);
  margin-bottom: 40px;
}

@media screen and (max-width: 479.8px) {
  .advantages {
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 40px;
  }
  .advantages__container {
    width: 200px;
  }
  .advantages__container h2 {
    font-size: 36px;
    line-height: 41px;
  }
  .advantages__container p {
    font-size: 12px;
    line-height: 170%;
  }
  .advantages__icon {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .advantages {
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 60px;
  }
  .advantages__container {
    width: 180px;
  }
  .advantages__container h2 {
    font-size: 48px;
    line-height: 55px;
  }
  .advantages__container p {
    font-size: 14px;
    line-height: 174%;
  }
  .advantages__icon {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1279px) {
  .advantages {
    gap: 22px;
    padding-top: 40px;
    padding-top: 60px;
  }
  .advantages__container {
    min-width: 160px;
    max-width: 320px;
  }
  .advantages__container h2 {
    font-size: 48px;
    line-height: 55px;
  }
  .advantages__container p {
    font-size: 14px;
    line-height: 174%;
  }
  .advantages__icon {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    gap: 112px;
  }
  .advantages__container {
    min-width: 160px;
    max-width: 320px;
  }
  .advantages__icon {
    margin-bottom: 40px;
  }
}
.button {
  width: 180px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: solid;
}
.button:hover {
  cursor: pointer;
}
.button--pink {
  background: rgb(212, 20, 67);
  color: #ffffff;
}
.button--white {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.button--white:hover {
  background-color: rgb(250, 250, 250);
}
.button--nav-white {
  color: rgb(212, 20, 67);
}
.button--nav-white:hover {
  background-color: rgb(212, 20, 67);
  color: #ffffff;
}
.button--modal {
  color: rgb(212, 20, 67);
}
.button--modal:hover {
  background-color: rgb(212, 20, 67);
  color: #ffffff;
}
.button--header-white {
  width: 138px;
  background-color: #ffffff;
}
.button--header-white a {
  color: rgb(212, 20, 67);
}
.button--header-white:hover {
  background-color: rgb(212, 20, 67);
}
.button--header-white:hover a {
  color: #ffffff;
}
.button--header-pink {
  background-color: rgb(212, 20, 67);
  width: 108px;
}
.button--header-pink a {
  color: #ffffff;
}
.button--header-pink:hover {
  background-color: #ffffff;
}
.button--header-pink:hover a {
  color: rgb(212, 20, 67);
}
.button--products {
  height: 40px;
  width: 40px;
  padding-bottom: 60px;
  border-radius: 25px;
  background: none;
}
.button--products svg {
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 60px;
  stroke: rgb(212, 20, 67);
}
.button--products svg:hover {
  background-color: rgb(212, 20, 67);
  stroke: #ffffff;
  animation: btn-rotate;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
  transform: rotate(-90deg);
}
.button--jar {
  height: 40px;
  width: 40px;
  padding-bottom: 60px;
  border-radius: 25px;
  background: none;
}
.button--jar svg {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 60px;
  stroke: rgb(212, 20, 67);
}
.button--jar svg:hover {
  background-color: rgb(212, 20, 67);
  stroke: #ffffff;
  animation: btn-rotate;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
  transform: rotate(-90deg);
}
.button--contacts-pink {
  background: rgb(212, 20, 67);
  color: #ffffff;
  width: 161.45px;
}
.button--contacts-white {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 700;
  width: 161.45px;
  font-size: 16px;
  color: rgb(212, 20, 67);
}
.button--contacts-white:hover {
  background-color: rgb(250, 250, 250);
}
.button--open-modal {
  background-color: transparent;
  width: 50px;
  z-index: 1;
}
.button--form-modal {
  color: rgb(212, 20, 67);
}
.button--close {
  position: absolute;
  top: 1%;
  left: 90%;
  width: 30px;
  height: 30px;
  color: rgb(212, 20, 67);
}
.button--close:hover {
  background-color: rgb(236, 235, 235);
}
.button--read-more {
  background-color: #ffffff;
  color: rgb(212, 20, 67);
}

@media screen and (max-width: 1097px) {
  .button--nav-white {
    width: 120px;
  }
  .button--header-pink {
    width: 65px;
    font-size: 10px;
    height: 28px;
  }
  .button--contacts-white {
    height: 44px;
  }
  .button--header-white {
    width: 100px;
    font-size: 10px;
    height: 28px;
  }
  .button--jar {
    height: 30px;
  }
  .button--jar svg {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 630px) {
  .button--nav-white {
    display: none;
  }
  .button--header-pink {
    width: 100px;
    font-size: 12px;
    height: 35px;
  }
  .button--header-white {
    width: 100px;
    font-size: 12px;
    height: 35px;
  }
}
@media screen and (max-width: 580px) {
  .button--contacts-white {
    width: 161.45px;
  }
  .button--contacts-pink {
    width: 161.45px;
  }
}
.card--contacts {
  width: 368px;
  height: 538px;
  background: #ffffff;
  border-radius: 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}
.card--contacts:hover {
  animation-name: contact-card-hover;
  animation-duration: 1s;
  box-shadow: 0px 8px 30px rgb(255, 165, 186);
}
.card--contacts__category-container__sale {
  display: flex;
  width: 75px;
  height: 28px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: rgb(240, 209, 165);
  border-radius: 6px;
}
.card--contacts__category-container__sale--green {
  background: rgb(194, 226, 151);
  width: 138px;
}
.card--contacts__content-container__locations {
  width: 120px;
  height: 30px;
  letter-spacing: 0.04em;
  color: rgb(0, 0, 0);
}
.card--contacts__content-container__promise {
  position: relative;
  height: 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: rgb(152, 142, 142);
}
.card--contacts__content-container__promise::after {
  content: "";
  position: absolute;
  top: 160%;
  left: 0;
  right: 0;
  height: 0.5px;
  border-top: 0.5px solid rgb(225, 225, 225);
}
.card--contacts__calendar-container {
  position: relative;
}
.card--contacts__calendar-container__schedule {
  height: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
}
.card--contacts__calendar-container__time {
  height: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  color: rgb(255, 165, 186);
}
.card--contacts__calendar-container::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  height: 0.5px;
  border-top: 0.5px solid rgb(225, 225, 225);
}
.card--contacts__address-container__phone {
  height: 50px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  color: rgb(152, 142, 142);
}
.card--contacts__address-container__mail {
  height: 50px;
  margin-left: 0%;
  margin-top: 0%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  color: rgb(152, 142, 142);
}

@media screen and (max-width: 1280px) {
  .card--contacts {
    width: 28%;
  }
}
@media screen and (max-width: 770px) {
  .card--contacts {
    width: 280px;
    height: 412px;
  }
  .card--contacts__content-container__promise {
    font-size: 14px;
  }
  .card--contacts__calendar-container {
    position: relative;
  }
  .card--contacts__calendar-container__schedule {
    font-size: 14px;
  }
  .card--contacts__calendar-container__time {
    font-size: 14px;
  }
  .card--contacts__address-container__phone {
    font-size: 14px;
  }
  .card--contacts__address-container__mail {
    font-size: 14px;
  }
}
.contacts {
  background: linear-gradient(0deg, rgb(255, 245, 246) 80%, #ffffff 80%);
  width: 100%;
  margin: 100px 0px 0px 0px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.conteiner--card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}

.contacts__button-container {
  width: 340px;
  height: 42px;
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .conteiner--card {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacts__button-container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal__map {
    position: absolute;
    top: 700%;
    left: 0%;
    width: 100%;
    height: 450px;
    opacity: 1;
    z-index: 3;
    visibility: visible;
  }
  .map__container {
    display: flex;
    flex-direction: column;
  }
  .mapouter iframe {
    text-align: center;
    border-radius: 5%;
    height: 300px;
    width: 300px;
    border: none;
    opacity: 1;
  }
  .is-hiddenmap {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (max-width: 768px) {
  .contacts__button-container {
    height: 98px;
  }
}
@media screen and (max-width: 580px) {
  .conteiner--card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacts__button-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 161.45px;
    gap: 10px;
  }
}
.customer__reviews__section {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 1200px;
  height: 430px;
  padding: 0px 10%;
}

.customer__reviews__section__container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.customer__reviews__section__slider {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  bottom: 5%;
  opacity: 0;
  background-color: #ffffff;
  transition: opacity 0.8;
}

.customer__reviews__section__slider:nth-child(1) {
  opacity: 1;
}

.customer__reviews__section__slider:target {
  opacity: 1;
  animation: gelatine 1s ease-in-out;
}

.customer__images__slider {
  padding-bottom: 16px;
}

.customer__testimonial__container {
  width: 100%;
  background-color: rgb(250, 250, 250);
  z-index: 0;
}

.customer__icon__container {
  position: relative;
  width: inherit;
  z-index: 1;
}

.icon__quotation {
  position: absolute;
  width: 54px;
  height: 40px;
  top: 32px;
  left: 72px;
  fill: rgb(225, 225, 225);
  opacity: 60%;
  z-index: 2;
}

.customer__coments {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  color: rgb(0, 0, 0);
  text-decoration-color: rgb(225, 225, 225);
  z-index: 3;
  padding: 47px 109px 39px 109px;
}

.customer__elipse__container {
  display: flex;
  align-items: center;
  width: 40px;
  padding: 16px 0;
  gap: 10px;
}

.customer__elipse {
  background: red;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.customer__elipse__active {
  background: red;
  border-radius: 100%;
  width: 4px;
  height: 4px;
}

.customer__comment__city {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 32px;
}

.customer__testimonial__slider {
  width: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  padding: 47px 109px 39px 109px;
  width: inherit;
  background-color: rgb(250, 250, 250);
  transition: opacity 0.5;
  z-index: 0;
}

.slider__button {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 72px;
}

.slider__button li {
  display: flex;
}

.slider__button__off {
  display: inline-block;
  background-color: rgb(152, 142, 142);
  list-style: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.icon__house {
  width: 15px;
  height: 14px;
  fill: red;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .customer__reviews__section {
    align-items: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .customer__coments {
    font-size: 14px;
  }
  .customer__comment__city {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .customer__reviews__section {
    margin-top: 150px;
  }
  .customer__coments {
    font-size: 12px;
  }
  .customer__comment__city {
    font-size: 14px;
  }
}
.footer {
  background-color: rgb(255, 245, 246);
}

.container__footer {
  min-width: 320px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer {
  padding-top: 100px;
}
.footer__slogan {
  text-transform: uppercase;
}
.footer__slogan--small-title {
  color: rgb(255, 165, 186);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-family: "Titan One", cursive;
  padding-bottom: 15px;
  transition: transform 500ms ease-in-out;
}
.footer__slogan--small-title span {
  transition: 500ms ease-in-out;
}
.footer__slogan span {
  font-family: "Titan One", cursive;
}
.footer__slogan--big-title {
  display: flex;
  gap: 14px;
}
.footer__slogan--big-title span {
  transition: transform 500ms ease-in-out;
}
.footer__slogan--big-title span:hover {
  transform: scale(1.2);
  display: inline-block;
  transition: 500ms ease-in-out;
}
.footer__slogan--big-title h2 {
  display: flex;
  color: rgb(212, 20, 67);
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.footer__slogan {
  transition: transform 500ms ease-in-out;
}
.footer__slogan:hover .footer__slogan--small-title {
  position: relative;
  text-align: center;
  transition: 500ms ease-in-out;
}
.footer__slogan:hover .footer__slogan--small-title > span {
  color: rgb(212, 20, 67);
  position: absolute;
  transform: translate(-250%, 100%);
  transition: 500ms ease-in-out;
}

.footer__slogan-social {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer__social--icons {
  display: flex;
  justify-content: end;
  gap: 30px;
  padding-bottom: 40px;
}
.footer__social--icon {
  width: 34px;
  height: 34px;
  background-color: rgb(255, 165, 186);
  border-radius: 50%;
  text-align: center;
  line-height: 2.7;
  transition: 500ms ease;
}
.footer__social--icon:hover {
  background-color: rgb(212, 20, 67);
  transition: 500ms ease;
}
.footer__social--icon svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
.footer__social--contact {
  font-weight: 700;
  text-align: right;
  display: flex;
  gap: 5px;
  transition: 500ms ease;
}
.footer__social--contact a {
  color: rgb(212, 20, 67);
  transition: 500ms ease;
}
.footer__social--contact a:hover {
  display: inline-block;
  transition: 500ms ease;
  transform: scale(1.1) translate(10px);
}

.footer__home {
  position: sticky;
  left: 90%;
  background-color: rgb(212, 20, 67);
  border-radius: 50%;
  border: none;
  padding: 0px;
  width: 35px;
  height: 35px;
  margin-top: -50px;
}
.footer__home__return {
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
  stroke: #ffffff;
  padding-bottom: 4px;
  padding-left: 1px;
}

.footer__copyright {
  border-top: 1px solid #e1e1e1;
  text-align: center;
  padding: 10px 0;
}
.footer__copyright p {
  color: #907e82;
  font-size: 0.87rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  transition: 500ms ease;
}
.footer__copyright p:hover {
  transform: scale(1.1);
  transition: 500ms ease;
}
.footer__copyright br {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer__slogan--small-title {
    font-size: 1.6rem;
  }
  .footer__slogan--small-title span {
    display: block;
  }
  .footer__slogan--big-title {
    padding-top: 10px;
    font-size: 3rem;
    line-height: normal;
    display: inline-block;
  }
  .footer__slogan--big-title h2 {
    line-height: 1;
  }
  .footer__social {
    margin: auto;
  }
  .footer__social--contact {
    font-size: 0.87rem;
  }
  .footer__copyright {
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .footer__social {
    padding: 40px 0 20px;
  }
  .footer__social--contact {
    justify-content: flex-start;
    text-align: end;
  }
  .footer__slogan-social {
    display: block;
  }
  .footer__copyright br {
    display: block;
  }
}
.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #ffffff 300px, rgb(255, 245, 246) 300px);
  overflow: hidden;
  height: 520px;
}
.gallery__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
  height: 320px;
}

.container-images {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-images:nth-child(2n+0) {
  margin-top: auto;
}
.container-images:nth-child(4n+0) {
  margin-top: auto;
}
.container-images:nth-child(3n+0) {
  margin-bottom: auto;
}
.container-images:nth-child(5n+0) {
  margin-bottom: auto;
}
.container-images__image {
  max-height: 138px;
  max-width: 138px;
  transition: max-height 0.15s ease-out;
  transition: max-width 0.15s ease-out;
}
.container-images__image:hover {
  max-height: 220px;
  max-width: 220px;
  transition: max-height 0.25s ease-in;
  transition: max-width 0.15s ease-out;
}

@media screen and (max-width: 1280px) {
  .gallery__container {
    width: 80%;
    height: 200px;
  }
  .gallery__container .container-images {
    width: 100px;
  }
  .gallery__container .container-images__image {
    max-width: 80%;
    max-height: 80%;
  }
  .gallery__container .container-images__image:hover {
    max-height: 100%;
    max-width: 100%;
  }
  .container-images {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .gallery__container {
    width: 80%;
    height: 40%;
  }
}
@media screen and (max-width: 590px) {
  .gallery__container {
    width: 80%;
    height: 35%;
  }
}
@media screen and (max-width: 478px) {
  .gallery__container {
    width: 80%;
    height: 30%;
  }
}
* {
  font-family: "DM Sans";
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-end: 0em;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  background-color: rgb(255, 184, 202);
  width: auto;
  height: 664px;
  position: relative;
}
.hero-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 15px 60px 15px;
}
.hero-header__nav__brand {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.hero-header__nav__brand__text {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 30px;
  line-height: 90.5%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
}
.hero-header__nav__sections {
  display: flex;
  align-items: center;
  gap: 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  z-index: 1;
}
.hero-header__nav__sections-section a {
  color: #ffffff;
}
.hero-header__nav__sections-section--current a {
  color: rgb(212, 20, 67);
}
.hero-header__nav__sections-section:hover {
  cursor: pointer;
}
.hero-header__nav__sections-section:hover a {
  color: rgb(212, 20, 67);
}
.hero-header__nav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.hero-header__nav__right__buyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 159px;
  height: 44px;
  border: 2px;
  border-radius: 22px;
  color: rgb(212, 20, 67);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.hero-header__nav__right__buyButton:hover {
  cursor: pointer;
  background-color: rgb(235, 234, 234);
}
.hero-header__nav__right__menu-burguer {
  visibility: hidden;
}
.hero-header__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;
  padding: 0 0 24px 15px;
  width: 277px;
  color: #ffffff;
}
.hero-header__title__passion {
  font-family: "Titan One";
  font-size: 58px;
  line-height: 90.5%;
  color: rgb(212, 20, 67);
}
.hero-header__button-container {
  display: flex;
  gap: 12px;
  margin-left: 14px;
}
.hero-header__container {
  width: 534px;
  height: 611px;
  position: absolute;
  bottom: 0;
  right: 25%;
}
.hero-header__container-circle {
  background: rgb(255, 165, 186);
  width: 534px;
  height: 534px;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  top: 0;
}
.hero-header__container__iceCream-image {
  max-width: 236px;
  height: 90%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 35%;
}
.hero-header__jarContainer {
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  padding-top: 40px;
}
.hero-header__jarContainer__text {
  width: 250px;
  z-index: 2;
}
.hero-header__jarContainer__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding-bottom: 20px;
  color: #ffffff;
}
.hero-header__iceCreamGirl {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 1;
  width: 350px;
  height: 270px;
}
.hero-header__iceCreamGirl a img {
  height: 100%;
  width: 100%;
}
.hero-header__iceCreamGirl:hover {
  animation-name: tasty-hover;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.hero-header__branches {
  position: absolute;
  right: 15px;
  top: 152px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-header__branches__container {
  position: relative;
}
.hero-header__branches__container__text {
  width: 90px;
  height: 77px;
  display: flex;
  justify-content: center;
}
.hero-header__branches__container__text h2 {
  position: absolute;
  z-index: 2;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
}
.hero-header__branches__container__text p {
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.hero-header__branches__container__circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
}

@media screen and (max-width: 1097px) {
  .hero-header {
    height: 630px;
  }
  .hero-header__container-circle {
    width: 430px;
    height: 430px;
    top: 12%;
    left: 20%;
  }
  .hero-header__container__iceCream-image {
    width: 200px;
    height: 450px;
    right: 25%;
  }
  .hero-header__iceCreamGirl {
    width: 250px;
    height: 200px;
    right: 5%;
  }
  .hero-header__title {
    font-size: 30px;
    z-index: 1;
    position: relative;
  }
  .hero-header__title__passion {
    font-size: 44px;
  }
  .hero-header__jarContainer img {
    width: 150px;
    height: 150px;
  }
  .hero-header__jarContainer__text {
    width: 115px;
    height: 100px;
  }
  .hero-header__jarContainer__text p {
    font-size: 10px;
  }
  .hero-header__nav__sections {
    display: none;
  }
  .hero-header__nav__right__menu-burguer {
    visibility: visible;
  }
}
@media screen and (max-width: 865px) {
  .hero-header__container-circle {
    width: 430px;
    height: 430px;
    top: 12%;
    left: 30%;
  }
  .hero-header__container__iceCream-image {
    width: 200px;
    height: 450px;
    right: 15%;
  }
}
@media screen and (max-width: 768px) {
  .hero-header {
    height: 520px;
  }
  .hero-header__nav__brand {
    z-index: 2;
  }
  .hero-header__jarContainer {
    padding: 0px;
  }
  .hero-header__title {
    position: relative;
    z-index: 2;
  }
  .hero-header__button-container button {
    z-index: 2;
  }
  .hero-header__nav__right {
    z-index: 2;
  }
  .hero-header__branches__container__circle {
    right: 10%;
  }
  .hero-header__branches__container__text {
    height: 70px;
  }
  .hero-header__branches__container__text h2 {
    font-size: 30px;
  }
  .hero-header__container-circle {
    width: 400px;
    height: 400px;
    top: 15%;
    left: 38%;
  }
  .hero-header__container__iceCream-image {
    right: 10%;
  }
  .hero-header__iceCreamGirl {
    width: 230px;
    height: 180px;
    right: 5%;
  }
}
@media screen and (max-width: 630px) {
  .hero-header {
    overflow: hidden;
  }
  .hero-header__title {
    font-size: 40px;
  }
  .hero-header__container__iceCream-image {
    width: 160px;
    height: 384px;
    z-index: 1;
    top: 37%;
    right: -17%;
  }
  .hero-header__container-circle {
    top: 32%;
    left: 65%;
  }
  .hero-header__branches {
    display: none;
  }
  .hero-header__iceCreamGirl {
    display: none;
  }
  .hero-header__jarContainer {
    display: none;
  }
}
.modal--menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(225, 121, 146);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 20px;
}
.modal--menu-is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.6);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal--menu__content {
  width: 100%;
}
.modal--menu__links {
  width: 100%;
}
.modal--menu__links__link {
  display: flex;
  align-items: center;
  height: 42px;
  border-top: 1px solid rgb(255, 165, 186);
}
.modal--menu__links__link a {
  color: #ffffff;
  margin-left: 20px;
  font-weight: 700;
}
.modal--menu__links__link--current a {
  color: rgb(212, 20, 67);
}
.modal--menu__links__link:last-child {
  border-bottom: 1px solid rgb(255, 165, 186);
}
.modal--menu__close-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 20px;
}
.modal--menu__close-container svg {
  fill: #ffffff;
  width: 30px;
  height: 30px;
}
.modal--form {
  display: flex;
  justify-content: center;
}
.modal--form-content {
  position: fixed;
  z-index: 2;
  background: rgb(255, 245, 246);
  background: radial-gradient(circle, rgba(255, 245, 246, 0.6) 0%, rgba(255, 165, 216, 0.7) 72%, rgba(255, 165, 216, 0.8) 92%, rgba(255, 165, 216, 0.9) 100%);
  border-radius: 10px;
  top: 20%;
  width: 600px;
  height: 495px;
}
.modal--form-content-icon {
  fill: rgb(212, 20, 67);
  position: absolute;
  top: 65%;
  left: 3%;
  height: 13px;
  width: 13px;
}
.modal--form-content-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400px;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
  text-align: center;
  padding-top: 20px;
}
.modal--form-content .custom-input {
  height: 60px;
  width: 450px;
  position: relative;
  margin: 4px 0px 10px 0px;
}
.modal--form-content .custom-input input {
  border: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  width: 450px;
  height: 40px;
  padding-left: 35px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 6px 0px;
}
.modal--form-content .custom-input label {
  text-transform: capitalize;
  color: rgb(117, 117, 117);
  font-size: 12px;
  font-weight: 500;
}
.modal--form-content .custom-input input:focus {
  outline: none;
  border-color: rgb(212, 20, 67);
}
.modal--form-content .custom-input input:focus + .icon--input-modal {
  height: 15px;
  width: 15px;
  fill: rgb(212, 20, 67);
}
.modal--form-content .custom-input--feedback {
  height: 120px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal--form-content .custom-input--feedback textarea {
  padding: 8px;
  text-align: start;
  border: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 6px 0px;
  height: 120px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  resize: none;
}
.modal--form-content .custom-input--feedback textarea:focus {
  outline: none;
  border-color: rgb(212, 20, 67);
}
.modal--form-content .custom-input--feedback textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
}
.modal--form-content .terms-conditions-container {
  width: 430px;
}
.modal--form-content .terms-conditions-container label {
  text-transform: none;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
.modal--form-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
}
.modal--map {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 500px;
  opacity: 1;
  z-index: 3;
  visibility: visible;
  background: rgb(255, 245, 246);
  background: linear-gradient(rgb(255, 165, 220) 0%, rgb(255, 165, 220) 10%, rgb(255, 164, 186) 50%, rgb(255, 165, 220) 90%, rgba(255, 245, 246, 0.1) 100%);
}
.modal--map-mapouter h2 {
  margin: 20px 0px;
  color: #ffffff;
  text-align: center;
}
.modal--map-title {
  margin-top: 25px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  letter-spacing: 3px;
  color: rgb(212, 20, 67);
}
.modal--map__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 350px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
}
.modal--map iframe {
  text-align: center;
  border-radius: 5%;
  height: 250px;
  width: 250px;
  border: none;
  opacity: 1;
}
.modal--map-is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
}

@media screen and (max-width: 650px) {
  .modal--form-content {
    width: 90%;
    height: 550px;
  }
  .modal--form-content-title {
    font-size: 30px;
    width: 90%;
  }
}
@media screen and (max-width: 579px) {
  .modal--form-content .custom-input {
    width: 330px;
  }
  .modal--form-content .custom-input input {
    width: 330px;
  }
  .modal--form-content .custom-input--feedback {
    width: 330px;
  }
  .modal--form-content .custom-input--feedback textarea {
    width: 330px;
  }
}
@media screen and (max-width: 385px) {
  .modal--form-content .custom-input {
    width: 250px;
  }
  .modal--form-content .custom-input input {
    width: 250px;
  }
  .modal--form-content .custom-input--feedback {
    width: 250px;
  }
  .modal--form-content .custom-input--feedback textarea {
    width: 250px;
  }
}
.products {
  padding: 60px 0px;
}
.products__boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0 16px;
}
.products__title {
  margin-bottom: 50px;
}
.products__title--1 {
  width: 280px;
  margin: 0 auto;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(255, 165, 186);
}
.products__title--2 {
  width: 394px;
  margin: 0 auto;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
}
.products__boxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 796px;
  position: relative;
}
.products__boxes-img {
  position: absolute;
  width: 368px;
  bottom: 50%;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: 100%;
}
.products__boxes-img img {
  width: 100%;
  height: 100%;
}
.products__boxes-img:hover {
  animation: flip;
  animation-duration: 0.2s;
  transform: scaleX(-1);
}
.products__boxes__box-content {
  height: 535px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 368px;
  align-self: flex-start;
}
.products__boxes__box-content--1 {
  background-color: rgb(255, 165, 186);
}
.products__boxes__box-content--2 {
  background-color: rgb(240, 209, 165);
}
.products__boxes__box-content--3 {
  background-color: rgb(194, 226, 151);
}
.products__boxes__box-content:hover {
  animation: card-hover;
  animation-duration: 0.5s;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.products__boxes__box-content-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.products__boxes__box-content-title:after {
  display: block;
  content: ". . .";
  color: #ffffff;
  top: 32px;
  font-size: 25px;
}
.products__boxes__box-content-text {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 176%;
  padding-bottom: 60px;
  padding-top: 35px;
  text-align: center;
  text-align: center;
  width: 245px;
}
.products__boxes__box-content-button-container {
  position: relative;
  z-index: 1;
  height: 50px;
  padding-bottom: 60px;
}
.products__title--1:hover, .products__title--2:hover {
  animation: extend;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 1280px) {
  .products__title--1 {
    font-size: 26px;
  }
  .products__title--2 {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04em;
  }
  .products__boxes-container {
    gap: 16px;
    margin: 0 32px;
  }
  .products__boxes {
    bottom: 30%;
  }
  .products__boxes-img {
    width: 368px;
  }
  .products__boxes-content {
    width: 224px;
    height: 473px;
  }
  .products__boxes-content-title {
    font-size: 20px;
    line-height: 23px;
  }
  .products__boxes-content-text {
    width: 160px;
    font-size: 14px;
    padding-top: 32px;
  }
}
@media screen and (max-width: 480px) {
  .products__boxes__box-content {
    width: 250px;
  }
  .products__boxes-img {
    width: 250px;
    height: 250px;
  }
  .products__title--1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  .products__title--2 {
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
