/* Error: Expected expression.
 *    ,
 * 16 | $hover-gray:
 *    |             ^
 *    '
 *   src\sass\utils\_color.scss 16:13  @import
 *   src\sass\main.scss 1:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 16 \2502  $hover-gray:\a    \2502              ^\a    \2575 \a   src\\sass\\utils\\_color.scss 16:13  @import\a   src\\sass\\main.scss 1:9            root stylesheet";
}
