@use "../utils/color" as color;
@import '../utils/config';

.advantages {
    &__benefitsTittle {
        display: none;
    }
    display: flex;
    justify-content:flex-start;
    gap: 115px;
    background: color.$pink-light;
    padding-left: 23px;
    &__container:hover &__icon{
        animation-name: spin-animation;
        animation-duration: 1000ms;
        animation-timing-function: linear;
    }
    &__container {
        position: relative;
        h2{
            font-family: 'Titan One';
            font-weight: 400;
            font-size: 58px;
            line-height: 66px;
            text-align: left;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        
            color: color.$pink-dark;
        }
        p {
            width: 100%;
            margin-top: 16px;

            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 176%;
            letter-spacing: 0.02em;
        }

    }
    &__icon{
        fill: color.$pink;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 479.8px) {
    .advantages {
        flex-wrap: wrap;
        gap: 32px;
        padding-top: 40px;
        &__container {
            width: 200px;
            h2 {
                font-size: 36px;
                line-height: 41px;
            }
            p {
                font-size: 12px;
                line-height: 170%;
            }
        }

        &__icon {
            margin-bottom: 16px;
        }
    }
}
@media screen and (max-width: 767px) {
    .advantages {
        flex-wrap: wrap;
        gap: 32px;
        padding-top: 60px;
        &__container {
            width: 180px;
            h2 {
                font-size: 48px;
                line-height: 55px;
            }
            p {
                font-size: 14px;
                line-height: 174%;
            }
        }
        &__icon{
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 1279px) {
    .advantages {
        gap: 22px;
        padding-top: 40px;
        padding-top: 60px;
        &__container {
            min-width: 160px;
            max-width: 320px;
            h2 {
                font-size: 48px;
                line-height: 55px;
            }
            p {
                font-size: 14px;
                line-height: 174%;
            }
        }
        &__icon{
            margin-bottom: 30px;
        }
    }
    
}
@media screen and (min-width: 1280px) {
    .advantages {
        gap: 112px;

        &__container {
            min-width: 160px;
            max-width: 320px;
        }

        &__icon {
            margin-bottom: 40px;
        }
    }

}

