@use "../utils/color" as colors;

.button {
  width: 180px;
  height: 44px;
  border-radius: 22px;
  background: colors.$white;
  color: colors.$pink-dark;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: solid;

  &:hover {
    cursor: pointer;
  }
}

.button--pink {
  background: colors.$pink-dark;
  color: colors.$white;

}

.button--white {
  background-color: $white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.button--white:hover {
  background-color: $lightgrey;
}

.button--products {
  height: 40px;
  width: 40px;
  padding-bottom: 60px;
  border-radius: 25px;
  background: none;

  svg {
    background-color: colors.$white;
    border-radius: 25px;
    margin-bottom: 60px;
    stroke: colors.$pink-dark;

    &:hover {
      background-color: colors.$pink-dark;
      stroke: colors.$white;
      animation: btn-rotate;
      animation-duration: 0.7s;
      animation-timing-function: ease-in-out;
      cursor: pointer;
      transform: rotate(-90deg);
    }
  }


}

.button--close {
  position: absolute;
  top: 1%;
  left: 90%;
  width: 30px;
  height: 30px;

  &:hover {
    background-color: $hover-gray;
  }
}