@use "../utils/color" as colors;

.button {
  width: 180px;
  height: 44px;
  border-radius: 22px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: solid;
  &:hover {
    cursor: pointer;
  }
  &--pink {
    background: colors.$pink-dark;
    color: colors.$white;
  }
  &--white {
    background-color: $white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    &:hover {
      background-color: $lightgrey;
    }
  }
  &--nav-white {
    color:$pink-dark;
    &:hover {
      background-color: $pink-dark;
      color: $white;
    }
  }
  &--modal{
    color:$pink-dark;
    &:hover {
      background-color: $pink-dark;
      color: $white;
    }
  }
  &--header-white {
    width: 138px;
    a{
      color: $pink-dark;
    }
   
    background-color: $white;

    &:hover {
      background-color: $pink-dark;
      a{
        color: $white;
      }
    }
  }
  &--header-pink {
    background-color: $pink-dark;
    a{
      color: $white;
    }
    width: 108px;
    &:hover {
      background-color: $white;
      a{
        color: $pink-dark;
      }
    }
  }
  &--products {
    height: 40px;
    width: 40px;
    padding-bottom: 60px;
    border-radius: 25px;
    background: none;
    svg {
      background-color: colors.$white;
      border-radius: 25px;
      margin-bottom: 60px;
      stroke: colors.$pink-dark;

      &:hover {
        background-color: colors.$pink-dark;
        stroke: colors.$white;
        animation: btn-rotate;
        animation-duration: 0.7s;
        animation-timing-function: ease-in-out;
        cursor: pointer;
        transform: rotate(-90deg);
      }
    }
  }
  &--jar {
    height: 40px;
    width: 40px;
    padding-bottom: 60px;
    border-radius: 25px;
    background: none;
    svg {
      width: 40px;
      height: 40px;
      background-color: colors.$white;
      border-radius: 25px;
      margin-bottom: 60px;
      stroke: colors.$pink-dark;

      &:hover {
        background-color: colors.$pink-dark;
        stroke: colors.$white;
        animation: btn-rotate;
        animation-duration: 0.7s;
        animation-timing-function: ease-in-out;
        cursor: pointer;
        transform: rotate(-90deg);
      }
    }
  }
  &--contacts-pink {
    background: colors.$pink-dark;
    color: colors.$white;
    width: 161.45px;
  }
  &--contacts-white {
    background-color: $white;
    font-style: normal;
    font-weight: 700;
    width: 161.45px;
    font-size: 16px;
    color: $pink-dark;
    &:hover {
      background-color: $lightgrey;
    }
  }
  &--open-modal{
    background-color: transparent;
    width: 50px;
    z-index: 1;
  }
}

@media screen and (max-width: 1097px) {
  .button--nav-white {
    width: 120px;
  }
  .button--header-pink {
    width: 65px;
    font-size: 10px;
    height: 28px;
  }
  .button--contacts-white{
    height: 44px;
  }
  .button--header-white {
    width: 100px;
    font-size: 10px;
    height: 28px;
  }
  .button--jar {
    height: 30px;
    svg {
      width: 25px;
      height: 25px;
    }
  }
  
}

@media screen and (max-width: 630px) {
  .button--nav-white {
    display: none;
  }
  .button--header-pink {
    width: 100px;
    font-size: 12px;
    height: 35px;
  }
  .button--header-white {
    width: 100px;
    font-size: 12px;
    height: 35px;
  }
}
@media screen and (max-width: 580px) {
  .button {
    &--contacts-white {
      width: 161.45px;
    }
    &--contacts-pink {
      width: 161.45px;
    }
  }
}

.button--close {
  position: absolute;
  top: 1%;
  left: 90%;
  width: 30px;
  height: 30px;
  color: $pink-dark;
  &:hover {
    background-color: $hover-gray;
  }
}

  .button--contacts-white:hover {
    background-color: $hover-button;
  }
