@use "../utils/color" as colors;

.card--contacts {
  width: 368px;
  height: 538px;
  background: colors.$white;
  border-radius: 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;

  &:hover {
    animation-name: contact-card-hover;
    animation-duration: 1s;
    box-shadow: 0px 8px 30px $pink;
  }

  &__category-container {
    &__sale {
      display: flex;
      width: 75px;
      height: 28px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      color: colors.$white;
      background: colors.$yellow;
      border-radius: 6px;

      &--green {
        background: colors.$green;
      }
    }
  }

  &__content-container {
    &__locations {
      width: 120px;
      height: 30px;
      letter-spacing: 0.04em;
      color: colors.$black;
    }

    &__promise {
      position: relative;
      height: 50px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.04em;
      color: colors.$grey;

      &::after {
        content: "";
        position: absolute;
        top: 160%;
        left: 0;
        right: 0;
        height: 0.5px;
        border-top: 0.5px solid $lightgrey2;
      }
    }
  }

  &__calendar-container {
    position: relative;

    &__schedule {
      height: 30px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 186%;
      letter-spacing: 0.04em;
    }

    &__time {
      height: 30px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 186%;
      color: colors.$pink;
    }

    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      right: 0;
      height: 0.5px;
      border-top: 0.5px solid $lightgrey2;
    }
  }

  &__address-container {
    &__phone {
      height: 50px;
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 0%;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 183%;
      color: colors.$grey;
    }

    &__mail {
      height: 50px;
      margin-left: 0%;
      margin-top: 0%;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 183%;
      color: colors.$grey;
    }
  }

}



@media screen and (max-width: 1280px) {
  .card--contacts {
    width: 28%;
  }
}

@media screen and (max-width: 770px) {
  .card--contacts {

    width: 280px;
    height: 412px;

    &__content-container {
      &__promise {
        font-size: 14px;
      }
    }

    &__calendar-container {
      position: relative;

      &__schedule {
        font-size: 14px;
      }

      &__time {
        font-size: 14px;

      }
    }

    &__address-container {
      &__phone {
        font-size: 14px;
      }

      &__mail {
        font-size: 14px;
      }
    }
  }
}