@use "../utils/color" as colors;

.contacts { 
    
    background: linear-gradient(0deg,colors.$pink-light 80%, colors.$white 80%);
    width: 100%;
    height: fit-content;
    margin-left: 0%;
    top: 3976px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}
  .conteiner--card {
  
    width: 100%;
    height: 638px;
    display: flex;  
    flex-direction: row;
    justify-content: center;
   
  } 
  