@use "../utils/color" as colors;

.contacts {
	background: linear-gradient(0deg, colors.$pink-light 80%, colors.$white 80%);
	width: 100%;
	margin: 100px 0px 0px 0px;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 35px
}

.conteiner--card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2%;
}

.contacts__button-container {
	width: 340px;
	height: 42px;
	display: flex;
	gap: 16px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 768px) {

	.conteiner--card {
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.contacts__button-container{
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}