@use "../utils/color" as customer-color;
@use "../utils/color";

.customer__reviews__section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 10.5%;
}

.customer__images__list {
	position: relative;
	width: 85px;
	height: 85px;
}

.customer__images__slider {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: inherit;
	height: inherit;
	background-color: $white;
	transition: opacity 0.5;
}

.customer__images__slider:nth-child(1) {
	opacity: 1;
}

ul li.customer__images__slider:target {
	opacity: 1;
}

.customer__testimonials__list {
	position: relative;
	width: 100%;
	height: 138px;
	background-color: $lightgrey;
}

.icon__quotation {
	position: absolute;
	width: 54px;
	height: 42px;
	top: 32px;
	left: 72px;
	fill: $lightgrey;
}

.customer__testimonials__slider {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	padding: 4.8% 9.05% 4% 9.05%;
	width: inherit;
	height: inherit;
	background-color: $lightgrey;
	transition: opacity 0.5;
}

.customer__testimonials__slider:nth-child(1) {
	opacity: 1;
}

.customer__image__slider:target .customer__testimonials__slider:target {
	opacity: 1;
}

.customer__elipse__container {
	display: flex;
	align-items: center;
	width: 32px;
	gap: 10px;
	margin: 16px auto;
}

.customer__elipse {
	background: red;
	border-radius: 50%;
	width: 4px;
	height: 4px;
}

.customer__comment__city {
	font-weight: 500;
	font-size: 20px;
	line-height: 186%;
	text-align: center;
	color: #000000;
	margin-bottom: 32ps;
}

.slider__button {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 72px;
	margin: 33px auto;
}

.slider__button__off {
	display: inline-block;
	background-color: $grey;
	list-style: none;
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

.icon__house {
	width: 12px;
	height: 10px;
	fill: red;
}

// .customer__testimonials__container{
//     background-color: rgb(243, 68, 14);
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: custome-color.$lightgrey;
//     width: 100vh;
//     height: 138px;
// }

// .customer__coments{
//     background-color: rgb(150, 87, 6);
//     width: 750px;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 186%;
//         text-align: center;
//         letter-spacing: 0.04em;
//         color: #000000;
//         z-index: 1;
// }

//
