@use "../utils/config";
@use "../utils/color";


.customer__reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.customer__images__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}


.customer__testimonials__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    width: fit-content;
    height: 138px;
}

.icon__quotation{
    position: absolute;
    width: 54px;
    height: 42px;
    top: 32px;
    left: 72px;
    fill: #E1E1E1;
    z-index: 0;
}

.customer__coments{
    width: 750px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 186%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
        z-index: 1;
}

.customer__elipse__container{
    display: flex;
    align-items: center;
    width: 32px;
    gap: 10px;
    margin: 16px auto;
}

.customer__elipse{
    background: red;
    border-radius: 50%;
        width: 4px;
        height: 4px
}

h2{
    font-weight: 500;
        font-size: 20px;
        line-height: 186%;
        text-align: center;
        color: #000000;
        margin-bottom: 32ps;
}

.slider__button{
    display: flex;
        align-items: center;
        gap: 16px;
    width: 72px;
    margin: 33px auto;
}

.slider__button__off {
    background: #D9D9D9;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.icon__house {
    width: 12px;
    height: 10px;
    fill: red;
}

