@use "../utils/color" as customer-color;
@use "../utils/color";

.customer__reviews__section {
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	width: 1200px;
	height: 430px;
	padding: 0px 10%;
}

.customer__reviews__section__container {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	height: 100%
}

.customer__reviews__section__slider {
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	bottom: 5%;
	opacity: 0;
	background-color: $white;
	transition: opacity 0.8;
}

.customer__reviews__section__slider:nth-child(1) {
	opacity: 1;
}

.customer__reviews__section__slider:target {
	opacity: 1;
}

.customer__images__slider {
	padding-bottom: 16px;
}

.customer__testimonial__container {
	width: 100%;
	background-color: $lightgrey;
	z-index: 0;
}

.customer__icon__container {
	position: relative;
	width: inherit;
	z-index: 1;
}

.icon__quotation {
	position: absolute;
	width: 54px;
	height: 40px;
	top: 32px;
	left: 72px;
	fill: $lightgrey2;
	opacity: 60%;
	z-index: 2;
}

.customer__coments {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 186%;
	text-align: center;
	letter-spacing: 0.04em;
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-thickness: 2px;

	color: $black;
	text-decoration-color: $lightgrey2;
	z-index: 3;
	padding: 47px 109px 39px 109px;
}

.customer__elipse__container {
	display: flex;
	align-items: center;
	width: 40px;
	padding: 16px 0;
	gap: 10px;
}

.customer__elipse {
	background: red;
	border-radius: 50%;
	width: 4px;
	height: 4px;
}

.customer__elipse__active {
	background: red;
	border-radius: 100%;
	width: 4px;
	height: 4px;
}

.customer__comment__city {
	font-weight: 500;
	font-size: 20px;
	line-height: 186%;
	text-align: center;
	color: $black;
	margin-bottom: 32px;
}

.customer__testimonial__slider {
	width: 100%;
	left: 0;
	top: 0;
	opacity: 1;
	padding: 47px 109px 39px 109px;
	width: inherit;
	background-color: $lightgrey;
	transition: opacity 0.5;
	z-index: 0;
}

.slider__button {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 72px;
	
}

.slider__button li {
	display: flex;
}

.slider__button__off {
	display: inline-block;
	background-color: $grey;
	list-style: none;
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

.icon__house {
	width: 15px;
	height: 14px;
	fill: red;
	opacity: 1;
}

@media screen and (max-width: 1200px){
	.customer__reviews__section {
		align-items: center;
		max-width: 100%;
		
	}
}
@media screen and (max-width: 768px){
	.customer__coments{
		font-size: 14px;
	}
	.customer__comment__city{
		font-size: 16px;
	}
}
@media screen and (max-width: 480px){
	.customer__coments{
		font-size: 12px;
	}
	.customer__comment__city{
		font-size: 14px;
	}
}