@use "../utils/color" as color;
@import "../utils/config";

.hero-header {
  background-color: color.$main-color;
  width: auto;
  height: 664px;
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 15px 60px 15px;

    &__brand {
      display: flex;
      flex-direction: row;
      gap: 30px;
      align-items: center;

      &__text {
        font-family: "Titan One";
        font-weight: 400;
        font-size: 30px;
        line-height: 90.5%;

        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: color.$pink-dark;
      }
    }

    &__sections {
      display: flex;
      align-items: center;
      gap: 35px;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: color.$white;
      z-index: 1;
      &-section{
        a{
          color: $white;
        }
        &--current{
          a{
            color: color.$pink-dark;
          }
          
        }
        &:hover {
          cursor: pointer;
          a{
            color: color.$pink-dark;
          }
         
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;

      &__buyButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        width: 159px;
        height: 44px;
        border: 2px;
        border-radius: 22px;

        color: color.$pink-dark;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;

        &:hover {
          cursor: pointer;
          background-color: $hover-button;
        }
      }

      &__menu-burguer {
        visibility: hidden;
      }
    }
  }

  &__title {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: left;
    padding: 0 0 24px 15px;

    width: 277px;

    color: color.$white;

    &__passion {
      font-family: "Titan One";
      font-size: 58px;
      line-height: 90.5%;

      color: color.$pink-dark;
    }
  }

  &__button-container {
    display: flex;
    gap: 12px;
    margin-left: 14px;
  }

  &__container {
    width: 534px;
    height: 611px;
    position: absolute;
    bottom: 0;
    right: 25%;

    &-circle {
      background: color.$pink;
      width: 534px;
      height: 534px;
      border-radius: 50%;
      position: relative;
      z-index: 0;
      top: 0;
    }

    &__iceCream-image {
      max-width: 236px;
      height: 90%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 35%;
    }
  }

  &__jarContainer {
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    padding-top: 40px;

    &__text {
      width: 250px;
      z-index: 2;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        padding-bottom: 20px;

        color: color.$white;
      }
    }
  }

  &__iceCreamGirl {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 1;
    width: 350px;
    height: 270px;

    a {
      img {
        height: 100%;
        width: 100%;
      }
    }

    &:hover {
      animation-name: tasty-hover;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      cursor: pointer;
    }
  }

  &__branches {
    position: absolute;
    right: 15px;
    top: 152px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__container {
      position: relative;

      &__text {
        width: 90px;
        height: 77px;
        display: flex;
        justify-content: center;

        h2 {
          position: absolute;
          z-index: 2;
          font-family: "Titan One";
          font-style: normal;
          font-weight: 400;
          font-size: 46px;
          line-height: 53px;

          text-align: right;
          letter-spacing: 0.04em;
          text-transform: uppercase;

          color: color.$pink-dark;
        }

        p {
          position: absolute;
          bottom: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;

          color: color.$white;
        }
      }

      &__circle {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: color.$white;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 1097px) {
  .hero-header {
    height: 630px;

    &__container {
      &-circle {
        width: 430px;
        height: 430px;
        top: 12%;
        left: 20%;
      }

      &__iceCream-image {
        width: 200px;
        height: 450px;
        right: 25%;
      }
    }

    &__iceCreamGirl {
      width: 250px;
      height: 200px;
      right: 5%;
    }

    &__title {
      font-size: 30px;
      z-index: 1;
      position: relative;
    }

    &__title__passion {
      font-size: 44px;
    }

    &__jarContainer {
      img {
        width: 150px;
        height: 150px;
      }

      &__text {
        width: 115px;
        height: 100px;

        p {
          font-size: 10px;
        }
      }
    }

    &__nav {
      &__sections {
        display: none;
      }
      &__right__menu-burguer {
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 865px) {
  .hero-header {
    &__container {
      &-circle {
        width: 430px;
        height: 430px;
        top: 12%;
        left: 30%;
      }

      &__iceCream-image {
        width: 200px;
        height: 450px;
        right: 15%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-header {
    height: 520px;
    &__nav {
      &__brand {
        z-index: 2;
      }
    }
    &__jarContainer {
      padding: 0px;
    }

    &__title {
      position: relative;
      z-index: 2;
    }

    &__button-container {
      button {
        z-index: 2;
      }
    }

    &__nav__right {
      z-index: 2;
    }

    &__branches {
      &__container {
        &__circle {
          right: 10%;
        }

        &__text {
          height: 70px;

          h2 {
            font-size: 30px;
          }
        }
      }
    }

    &__container {
      &-circle {
        width: 400px;
        height: 400px;
        top: 15%;
        left: 38%;
      }

      &__iceCream-image {
        right: 10%;
      }
    }

    &__iceCreamGirl {
      width: 230px;
      height: 180px;
      right: 5%;
    }
  }
}

@media screen and (max-width: 630px) {
  .hero-header {
    overflow: hidden;
    &__title {
      font-size: 40px;
    }

    &__container {
      &__iceCream-image {
        width: 160px;
        height: 384px;
        z-index: 1;
        top: 37%;
        right: -17%;
      }
      &-circle {
        top: 32%;
        left: 65%;
      }
    }

    &__branches {
      display: none;
    }
    &__iceCreamGirl {
      display: none;
    }

    &__jarContainer {
      display: none;
    }
  }
}
