@use "../utils/color" as color;
@import "../utils/config";

.button-shape {
  padding: 11px 23px;
  border-radius: 20px;
  border: 2px;
}

.hero-header {

  background-color: color.$main-color;
  width: auto;
  height: 664px;
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 15px 60px 15px;

    &__brand {
      display: flex;
      flex-direction: row;
      gap: 30px;
      align-items: center;

      &__text {
        font-family: "Titan One";
        font-weight: 400;
        font-size: 30px;
        line-height: 90.5%;

        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: color.$pink-dark;
      }

    }

    &__sections {
      display: flex;
      align-items: center;
      gap: 35px;

      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: color.$white;
      z-index: 1;

      li {
        &:hover {
          cursor: pointer;
          color: color.$pink-dark;
        }

      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;

      &__buyButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        width: 159px;
        height: 44px;
        border: 2px;
        border-radius: 22px;

        color: color.$pink-dark;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;

        &:hover {
          cursor: pointer;
          background-color: $hover-button;
        }
      }

      &__menu-burguer {
        visibility: hidden;
      }
    }
  }

  &__title {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: left;
    padding: 0 0 24px 15px;

    width: 277px;

    color: color.$white;

    &__passion {
      font-family: "Titan One";
      font-size: 58px;
      line-height: 90.5%;

      color: color.$pink-dark;
    }
  }

  &__titleButtons {

    padding-left: 15px;

    &__pink {
      color: color.$white;
      background: color.$pink-dark;

      &:hover {
        cursor: pointer;
      }
    }

    &__white {
      color: color.$pink-dark;
      background: color.$white;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
        background-color: $hover-button;
      }
    }
  }

  &__container {
    width: 534px;
    height: 611px;
    position: absolute;
    bottom: 0;
    right: 25%;

    &__circle {
      background: color.$pink;
      width: 534px;
      height: 534px;
      border-radius: 50%;
      position: relative;
      z-index: 0;
      top: 0;
    }

    &__iceCream-image {
      max-width: 236px;
      height: 90%;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 35%;
    }
  }

  &__jarContainer {
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    padding-top: 40px;

    &__text {
      width: 250px;
      z-index: 2;

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        padding-bottom: 20px;

        color: color.$white;
      }
    }
  }

  &__iceCreamGirl {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 1;
    width: 350px;
    height: 270px;

    a {
      img {
        height: 100%;
        width: 100%;
      }
    }

    &:hover {
      animation-name: tasty-hover;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      cursor: pointer;
    }
  }

  &__branches {
    position: absolute;
    right: 15px;
    top: 152px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__container {
      position: relative;

      &__text {
        width: 90px;
        height: 77px;
        display: flex;
        justify-content: center;

        h2 {
          position: absolute;
          z-index: 2;
          font-family: "Titan One";
          font-style: normal;
          font-weight: 400;
          font-size: 46px;
          line-height: 53px;

          text-align: right;
          letter-spacing: 0.04em;
          text-transform: uppercase;

          color: color.$pink-dark;
        }

        p {
          position: absolute;
          bottom: 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;

          color: color.$white;
        }
      }

      &__circle {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: color.$white;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 1097px) {
  .hero-header {
    &__jarContainer__text {
      width: 115px;

      p {
        font-size: 10px;
      }
    }

    &__nav {
      &__sections {
        display: none;
      }

      &__right__menu-burguer {
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width:321px) {
  .hero-header {
    overflow: hidden;

    &__nav {
      padding: 10px 15px 136px 20px;

      &__brand {
        gap: 20px;

        &__text {
          font-size: 26px;
          letter-spacing: 0;
        }
      }

      &__right {
        &__buyButton {
          display: none;
        }
      }
    }

    &__jarContainer {
      display: none;
    }

    &__iceCreamGirl {
      display: none;
    }

    &__branches {
      display: none;
    }

    &__title {
      font-size: 26px;
      line-height: 30px;

      width: 218px;

      padding: 0 0 20px 20px;

      position: absolute;
      z-index: 2;

      &__passion {
        font-size: 48px;
        line-height: 96.5%;
      }
    }

    &__titleButtons {
      padding-left: 20px;
      position: absolute;
      z-index: 2;
      bottom: 158px;
      width: 100%;

      &__white {
        margin-left: 8px;
      }

      button {
        padding: 0 5%;
        font-size: 8px;
        line-height: 10px;
      }
    }

    &__container {
      right: -18%;
      min-height: 410px;

      &__iceCream-image {
        right: 23%;
      }

      &__circle {
        top: -3%;
      }
    }
  }

  .button-shape {
    height: 24px;
  }
}

.modal__form {
  position: fixed;
  background: rgb(255, 245, 246);
  background: radial-gradient(circle, rgba(255, 245, 246, 1) 0%, rgba(255, 165, 216, 1) 62%, rgba(255, 165, 216, 0.6) 92%, rgba(255, 34, 159, 1) 100%);
  border-radius: 10px;
  top: 20%;
  left: 35%;
  width: 600px;
  height: 495px;
}

.modal__tittle__form {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400px;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  padding-top: 20px;
}

.modal__form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding-top: 15px;
  gap: 28px;
}

.modal__input__form {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
  padding-left: 42px;
}


.modal__input__group-name,
.modal__input__group-phone,
.modal__input__group-email {
  position: relative;
}

.modal__input__group-name:hover .modal__input__form,
.modal__input__group-name:hover .icon-person {
  fill: $pink-dark;
  border-color: $pink-dark;
  border-width: 2px;
}

.icon-person,
.icon-old-phone,
.icon-black-envelope {
  width: 12px;
  height: 12px;
  top: 14px;
  left: 15px;
  position: absolute;
}

.modal__input__form:focus+.icon-person,
.modal__input__form:hover+.icon-person {
  fill: $pink-dark;
}


.modal__input__group-phone:hover .modal__input__form,
.modal__input__group-phone:hover .icon-old-phone {
  fill: $pink-dark;
  border-color: $pink-dark;
  border-width: 2px;
}

.modal__input__form:focus+.icon-old-phone,
.modal__input__form:hover+.icon-old-phone {
  fill: $pink-dark;
}


.modal__input__group-email:hover .modal__input__form,
.modal__input__group-email:hover .icon-black-envelope {
  fill: $pink-dark;
  border-color: $pink-dark;
  border-width: 2px;
}


.modal__input__form:focus+.icon-black-envelope,
.modal__input__form:hover+.icon-black-envelope {
  fill: $pink-dark;
}

.comments {
  height: 120px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.comments:focus,
.comments:hover {
  border-width: 2px;
  border-color: $pink-dark;
  border-width: 2px;
}

label .comments::placeholder {
  position: absolute;
  top: 12px;
  left: 12px;
}

.is-hiddenform {

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}