@use "../utils/color" as colors;

.modal {
  &--menu {
    &-is-hidden {
      display: none;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.6);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$modal-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    z-index: 3;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
    gap: 20px;
    &__content {
      width: 100%;
    }

    &__links {
      width: 100%;

      &__link {
        display: flex;
        align-items: center;

        height: 42px;
        border-top: 1px solid $pink;

        a {
          color: $white;
          margin-left: 20px;
          font-weight: 700;
        }

        &--current {
          a {
            color: $pink-dark;
          }
        }

        &:last-child {
          border-bottom: 1px solid $pink;
        }
      }
    }

    &__close-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 20px 20px;

      svg {
        fill: $white;
        width: 30px;
        height: 30px;
      }
    }
  }
  &--form {
    display: flex;
    justify-content: center;
    &-content {
      position: fixed;
      z-index: 2;
      background: rgb(255, 245, 246);
      background: radial-gradient(
        circle,
        rgba(255, 245, 246, 0.6) 0%,
        rgba(255, 165, 216, 0.7) 72%,
        rgba(255, 165, 216, 0.8) 92%,
        rgba(255, 165, 216, 0.9) 100%
      );
      border-radius: 10px;
      top: 20%;
      width: 600px;
      height: 495px;
      &-icon {
        fill: $pink-dark;
        position: absolute;
        top: 65%;
        left: 3%;
        height: 13px;
        width: 13px;
      }
      &-title {
        font-family: "Titan One";
        font-style: normal;
        font-weight: 400px;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $pink-dark;
        text-align: center;
        padding-top: 20px;
      }
      .custom-input {
        height: 60px;
        width: 450px;
        position: relative;
        margin: 4px 0px 10px 0px;

        input {
          border: 1px;
          border-style: solid;
          border-color: rgba(33, 33, 33, 0.2);
          border-radius: 6px;
          width: 450px;
          height: 40px;
          padding-left: 35px;
          font-family: "Roboto";
          font-weight: 700;
          margin: 6px 0px;
        }

        label {
          text-transform: capitalize;
          color: rgba(117, 117, 117, 1);
          font-size: 12px;
          font-weight: 500;
        }
        input:focus {
          outline: none;
          border-color: colors.$pink-dark;
        }
        input:focus + .icon--input-modal {
          height: 15px;
          width: 15px;
          fill: colors.$pink-dark;
        }
        &--feedback {
          height: 120px;
          width: 450px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          textarea {
            padding: 8px;
            text-align: start;
            border: 1px;
            border-style: solid;
            border-color: rgba(33, 33, 33, 0.2);
            border-radius: 6px;
            width: 100%;
            height: 40px;
            font-family: "Roboto";
            font-weight: 700;
            margin: 6px 0px;
            height: 120px;
            width: 450px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            resize: none;
          }
          textarea:focus {
            outline: none;
            border-color: colors.$pink-dark;
          }
          textarea::placeholder {
            color: rgba(117, 117, 117, 0.5);
            font-weight: 400;
          }
        }
      }

      .terms-conditions-container {
        width: 430px;

        label {
          text-transform: none;
          font-weight: 400;
          font-size: 13px;
          letter-spacing: 0.03em;
          color: rgba(117, 117, 117, 1);
        }
      }
    }

    &-is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }
  &--map {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 500px;
    opacity: 1;
    z-index: 3;
    visibility: visible;
    background: rgb(255, 245, 246);
    background: linear-gradient(
      rgba(255, 165, 220, 1) 0%,
      rgba(255, 165, 220, 1) 10%,
      rgba(255, 164, 186, 1) 50%,
      rgba(255, 165, 220, 1) 90%,
      rgba(255, 245, 246, 0.1) 100%
    );
    &-mapouter {
      h2 {
        margin: 20px 0px;
        color: $white;
        text-align: center;
      }
    }
    &-title {
      margin-top: 25px;
      font-family: "Titan One";
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
      letter-spacing: 3px;
      color: $pink-dark;
    }
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 350px;
      justify-content: center;
      align-items: center;
      gap: 20px;
      overflow-x: auto;
    }
    & iframe {
      text-align: center;
      border-radius: 5%;
      height: 250px;
      width: 250px;
      border: none;
      opacity: 1;
    }
    &-is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }
}
@media screen and (max-width: 650px) {
  .modal--form-content {
    width: 90%;
    height: 550px;
    &-title {
      font-size: 30px;
      width: 90%;
    }
  }
}
@media screen and (max-width: 579px) {
  .modal--form-content {
    .custom-input {
      width: 330px;
      & input {
        width: 330px;
      }
      &--feedback{
        width: 330px;
        & textarea{
          width: 330px;
        }
      }
    }
  }
}

@media screen and (max-width: 385px) {
  .modal--form-content {
    .custom-input {
      width: 250px;
      & input {
        width: 250px;
      }
      &--feedback{
        width: 250px;
        & textarea{
          width: 250px;
        }
      }
    }
  }
}

