// $items: "1" "rgb(255, 184, 202)", "2" "rgb(240, 209, 165)",
//   "3" "rgb(194, 226, 151)";

//   @each $item, $color in $items {
//     &__products-item-box#{$item} {
//       background-color: #{$color};
//     }
//   }

.products {
  padding: 60px 0px;
}

.products__title--1 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffa5ba;
}

.products__title--2 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #d41443;
}

.products__boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}

.products__boxes--box1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 796px;
  position: relative;
}

.products__boxes--box1up {
  position: absolute;
  width: 368px;
  height: 796px;
  background-image: url("../images/products1.png");
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: 100%;
}

.products__boxes--box1bottom {
  height: 535px;
  background-color: rgba(255, 165, 186);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 368px;
  align-self: flex-start;
}

.products__boxes--box1bottom-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.products__boxes--box1bottom-title:after {
  display: block;
  content: ". . .";
  color: $white;
  top: 32px;
  font-size: 25px;
}

.products__boxes--box1bottom-text {
  width: 245px;
  text-align: center;

  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  padding-top: 35px;
  padding-bottom: 60px;
}

.products__boxes--box1bottom-arrow {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 60px;
  stroke: $pink-dark;
}

.products__boxes--box2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 796px;
  position: relative;
}

.products__boxes--box2up {
  position: absolute;
  width: 368px;
  height: 796px;
  background-image: url("../images/products2.png");
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: 100%;
}

.products__boxes--box2bottom {
  height: 535px;
  background-color: $yellow;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 368px;
  align-self: flex-start;
}

.products__boxes--box2bottom-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.products__boxes--box2bottom-title:after {
  display: block;
  content: ". . .";
  color: $white;
  top: 32px;
  font-size: 25px;
}

.products__boxes--box2bottom-text {
  width: 245px;
  text-align: center;

  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  padding-top: 35px;
  padding-bottom: 60px;
}

.products__boxes--box2bottom-arrow {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 60px;
  stroke: $pink-dark;
}

.products__boxes--box3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 796px;
  position: relative;
}

.products__boxes--box3up {
  position: absolute;
  width: 368px;
  height: 796px;
  background-image: url("../images/products3.png");
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: 100%;
}

.products__boxes--box3bottom {
  height: 535px;
  background-color: $green;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 368px;
  align-self: flex-start;
}

.products__boxes--box3bottom-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.products__boxes--box3bottom-title:after {
  display: block;
  content: ". . .";
  color: $white;
  top: 32px;
  font-size: 25px;
}

.products__boxes--box3bottom-text {
  width: 245px;
  text-align: center;

  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  padding-top: 35px;
  padding-bottom: 60px;
}

.products__boxes--box3bottom-arrow {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 60px;
  stroke: $pink-dark;
}

// .products__title--1:hover {
//   animation: ;
// }

// @keyframe extend1 {
//   0% {}

//   50% {}

//   100% {}
// }
